<div class="container__updatePassword">
  <div class="container__updatePassword__image">
    <div class="container__updatePassword__logo"> </div>
  </div>

  <div class="container__updatePassword__content">
    <form [formGroup]="updateForm" class="container__formUpdatePassword">

      <span class="container__formUpdatePassword__text  regular-24 ">Código de verificación</span>
      <span class="container__formUpdatePassword__text  regular-16 ">Por favor escribe el código de seguridad
        enviado a
        tu correo electrónico o por SMS a tu teléfono</span>

      <code-input class="custom-code-input" [isCodeHidden]="false" [codeLength]="6"
        (codeCompleted)="onCodeCompleted($event)" class="container__updatePassword-code regular-16 ">
      </code-input>
      <mat-error *ngIf="emptyCode">* Escribe un código válido</mat-error>
      <mat-error *ngIf="invalidCode">* Código inválido</mat-error>

      <span class="container__formUpdatePassword__text  regular-16">El código vence en <span
          class="bold-16 primario">{{minutes}}:{{seconds}}</span>
        minutos</span>

      <div *ngIf="showResend">
        <span class="container__formUpdatePassword__text  regular-16">¿No recibiste el código?<br> <span
            class="container__formUpdatePassword__btn-underline  regular-16 " (click)="resendCode()">Reenviar el
            código</span></span>
      </div>

      <span class="container__formUpdatePassword__text  bold-32 ">Actualiza tu contraseña</span>

      <span class="container__formUpdatePassword__text  regular-16 ">La clave deberá contener mínimo
        {{minPassword}}
        caracteres, debe contener números, letras mayúsculas, minúsculas y caracteres especiales (”#%&@-_$).</span>

      <mat-form-field appearance="fill" class="input ">
        <mat-label>Nueva contraseña</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" formControlName="Pass" placeholder="Nueva contraseña">
        <mat-icon matSuffix (click)="hide = !hide" class="login_icon">
          {{ hide ? 'visibility_off' : 'visibility' }}
        </mat-icon>
        <mat-error class="error-login" *ngIf="updateForm.get('Pass').errors">La
          contraseña es requerida</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="input ">
        <mat-label>Confirmar contraseña</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" formControlName="NewPass"
          placeholder="Confirmar contraseña">
        <mat-icon matSuffix (click)="hide = !hide" class="login_icon">
          {{ hide ? 'visibility_off' : 'visibility' }}
        </mat-icon>
        <mat-error class="error-login" *ngIf="updateForm.get('NewPass').errors">La
          contraseña es requerida</mat-error>
      </mat-form-field>

      <button class="button container__formUpdatePassword__btn  regular-18" (click)="confirmPassword()"
        type="submit">Confirmar</button>

    </form>
  </div>
</div>